[submodule "new"]
	path = asoc/codecs/aw882xx
	url = https://github.com/Divyanshu-Modi/android_driver_awinic_aw882xx.git
[submodule "newtda"]
	path = asoc/codecs/tfa98xx
	url = https://github.com/Divyanshu-Modi/android_driver_goodix_tfa98xx.git
